@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.main-div{
  width: 100%;
  height: 100vh;
  background-color: #341f97 ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-div{
  position: relative;
  width: 350px;
  height: 400px;
  background-color:#c8d6e5;
  border-radius: 10px;
}

h1{
  position: absolute;
  top: 20px;
  background-color:#5f27cd;
  width: 100%;
  text-align: center;
  color:#c8d6e5 ;
  font-family: 'Berkshire Swash', cursive;

}

input{
  margin-top: 50px;
  margin-left: 30px;
  text-align: center;
  height: 30px;
  top: 10px;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  background: transparent;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #ff6b6b;
  color: #576574;
  
}

input:focus {
 
  border-width: 0 0 3px;

}

button{
  min-height: 35px;
  width: 35px;
  border-radius: 40%;
  border-color: transparent;
  background-color: #ff6b6b;
  color: #c8d6e5;
  font-size: 30px;
  border: none;
  outline: none;
  margin-left: 20px;
  transition: 0.2s ease-in-out;
}

button:hover{
  background-color:#1dd1a1 ;
}


ol{
  margin-top: 30px;
  /* margin-left: 40px; */
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #576574;
  font-weight: 800;
}

ol li{
  list-style-type: none;
  margin-bottom: 15px;
}

.todo-style{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.todo-style .fa-times {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#5f27cd;
  border-radius: 40%;
  margin: -15px 15px 0 35px;
  color:#c8d6e5;
}


.todo-style .fa-times:hover {
  background-color:#ff6b6b;
}

.todo-style .fa-times:hover .list-style{
  color: #ff6b6b;
}

